:root {
    --contexify-separator-color: #eee;
    --contexify-item-color: #000000;
    --contexify-activeItem-color: #000000;
    --contexify-activeItem-bgColor: rgba(245, 245, 245, 0.85);
    --contexify-rightSlot-color: #737373;
    --contexify-activeRightSlot-color: #737373;
    --contexify-arrow-color: #737373;
    --contexify-activeArrow-color: #737373;
}

.contexify {
    transition: all 0.2s;
}
