:root {
	--red: rgb(255, 59, 48);
	--blue: rgb(0, 122, 255);
	--orange: rgb(255, 149, 0);
	--yellow: rgb(255, 204, 0);
	--green: rgb(76, 217, 100);
	--purple: rgb(88, 86, 214);
	--pink: rgb(255, 45, 85);
	--blur-background-black-06: rgba(0, 0, 0, 0.6);
	--blur-background-white-06: rgba(255, 255, 255, 0.6);
	--blur-background-white-089: rgba(255, 255, 255, 0.89);
	overflow: hidden;
}

* {
	padding: 0;
	margin: 0;
	transition: all .4s ease
}

@import "./light.scss";
@import "./layout.scss";

@font-face {
	font-family: "MiSans";
	src: url("../MiSans-Medium.ttf");
}

.App {
	font-family: "MiSans", sans-serif;
	user-select: none;
	transition: all 0.4s ease;
}

.swal2-container {
	z-index: 99999 !important;
	height: 100vh !important;
	width: 100vw !important;
}

img[alt="background"] {
	object-fit: cover;
	z-index: -1;
	position: fixed;
}
