.flex.xCenter {
    display: flex;
    align-items: center;
}

.flex.yCenter {
  display: flex;
  justify-content: center;
}

.coverScreen {
    position: absolute;
    top: 0;
    left: 0;
	width: 100vw;
	height: 100vh;
}