.lightMode {
    color: #000;
    @import './_partial/dock.scss';
    @import './_partial/header.scss';
    @import './_partial/rightMenu.scss';
    @import './_partial/onStart.scss';
    @import './_partial/alert.scss';

    .dock {
        background-color: var(--blur-background-white-089);

        .dockItem img:hover {
            box-shadow: 0 30px 60px rgb(0, 0, 0);
        }
    }

    .rightMenu {
        background: rgba(255, 255, 255, 0.87);
        backdrop-filter: blur(4px);
        box-shadow: 0 15px 60px rgb(0, 0, 0);

        .rightMenuItem {
            &:active {
                background-color: rgb(47, 47, 47);
                color: #fff;
            }
            &:hover {
                background-color: rgb(233, 233, 233);
            }
        }
    }

    .dragMoveWindowHeader {
        background-color: var(--blur-background-white-089);
    }
}
