@font-face {
	font-family: "AlibabaPuhui";
	src: url("../images/AlibabaPuHuiTi-2-65-Medium.ttf");
}

html {
	overflow: hidden;
	height: 618px;
	width: 1000px;
	font-family: "AlibabaPuhui";
	user-select: none;
}

* {
	transition: all 0.3s;
}

#outScreen {
	z-index: 1;
}

#dock_y .item {
	position: absolute;
	background-color: rgba(15, 16, 18, 0.397);
	top: 45%;
	backdrop-filter: blur(30px);
	left: 10px;
	padding: 8px;
	border-radius: 15px;
}

#dock_time {
	z-index: 30;
	color: #2a2a2a;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	bottom: 0px;
	width: 97.85%;
	padding: 5px;
	backdrop-filter: blur(30px);
	background-color: rgba(255, 255, 255, 0.911);
	height: 58px;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: flex-start;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

#dock_time div {
	position: absolute;
	right: 20px;
}

hr {
	background-color: #b3b3b3;
	margin: 0.5rem 17rem;
	border: transparent solid 1px;
	border-radius: 10px;
	height: 5px;
}

#laupad {
	box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 20px;
	color: #0e0e0e;
	overflow: hidden;
	top: 45%;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.911);
	backdrop-filter: blur(40px);
	object-fit: cover;
	background-size: cover;
}

#laupad .icon_bottom {
	margin: 2rem;
	top: 0;
	right: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#laupad .icon_bottom h2 {
	position: absolute;
	left: 35px;
	top: 20px;
}

#laupad .icon_bottom .icons {
	float: right;
}

#laupad .icon_bottom img,
#laupad .icon_bottom svg {
	margin-right: 5px;
}

#laupad .icon_top img,
#laupad .icon_top svg {
	margin-right: 5px;
	padding: 10px;
	background-color: #2a2a2a;
	border-radius: 5px;
}

#laupad .icon_top {
	margin: 2rem;
}

#laupad .alignRight {
	position: relative;
	top: 170px;
	left: 550px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#laupad .alignRight img {
	margin-left: 15px;
}

#he-plugin-standard {
	margin: 15px !important;
}

#TodoList .container {
	z-index: 31;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	background: #2a2a2a;
	padding-top: 30px;
	overflow-y: scroll;
	padding-bottom: 30px;
}
.wrapper {
	overflow-y: auto;
	margin: auto;
	padding: 20px;
	width: 70%;
	background: #e6e6e6;
	box-shadow: 0 0 0 5px rgba(187, 157, 157, 0.5);
}
#TodoList .container h2 {
	text-align: center;
	margin: 0;
	font-weight: 200;
}
.plates {
	margin: 0;
	padding: 0;
	position: relative;
}
.plates li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 10px;
	font-weight: 100;
	display: flex;
}
.plates li:hover {
	background-color: #2a2a2a;
	color: #e6e6e6;
}
.plates label {
	flex: 1;
	cursor: pointer;
}
.plates input {
	display: none;
}
.plates input + label:before {
	content: "⬜️";
	margin-right: 10px;
}
.plates input:checked + label {
	text-decoration: line-through;
	padding-left: 30px;
}
.plates li:hover input + label:before {
	border-color: #e6e6e6;
}
.plates input:checked + label:before {
	content: "";
	position: absolute;
	border-color: #2a2a2a;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}
.add-items {
	margin-top: 20px;
}
.add-items input {
	padding: 10px;
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.add-items input:nth-child(1) {
	width: 61.3%;
}
.add-items input:nth-child(2) {
	width: 30%;
	color: rgb(85, 108, 128);
	font-weight: 700;
}

#TodoList .container button {
	width: 100px;
	margin-top: 10px;
	height: 40px;
	color: rgb(85, 108, 128);
	font-weight: 700;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#TodoList .container button:hover,
#sumit_todo:hover {
	background-color: #2a2a2a;
	color: #e6e6e6;
}

#todo_btnClose,
#lockBtnClose {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
	background-color: #e6e6e6;
}

#LockScreen,
#onStart {
	color: #e2e2e2;
	overflow: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	backdrop-filter: blur(30px);
	text-align: center;
	object-fit: cover;
	background-size: cover;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.589);
}

#LockTime {
	font-size: 3.5rem;
	position: relative;
	top: 100px;
}

#onStart {
	padding-top: 130px;
}

#onStart img {
	width: 160px;
	height: 120px;
	animation: rotate 0.9s linear infinite;
}

.right-menu {
	width: 170px;
	position: absolute;
	z-index: 9998;
	overflow: hidden;
	padding: 5px;
	font-size: 14px;
	display: none;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px;
	overflow: hidden;
	background-color: white;
}

.right-menu div.list div:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.right-menu div.list div {
	list-style: none;
	padding: 10px 15px;
	border-radius: 5px;
	color: black;
	font-size: 11px;
	transition: all 0.1s linear;
}

.cover1 {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	display: none;
	opacity: 0;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transition: all 0.25s;
	perspective: 1000px;
}

.popUp {
	position: absolute;
	z-index: 100;
	width: 600px;
	height: 500px;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -300px;
	background-color: #fff;
	font-size: small;
	border-radius: 20px;
	overflow: hidden;
	transform: scale(1.1);
	transition: all 0.25s;
	display: none;
	box-shadow: 0px 30px 60px rgba(0,0,0,0.12);
}

.btnClose {
	z-index: 99;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.btnClose::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	background-color: #b4b4b4;
	transition: all 0.25s;
}

.btnClose:hover::before {
	background-color: #70c000;
}

.btnClose:active::before {
	background-color: rgba(112, 192, 0, 0.5);
}

.pTitle {
	position: relative;
	left: 70px;
	top: 40px;
	font-size: 25px;
	font-family: microsoft yahei bold, microsoft yahei, Helvetica, sans-serif,
		等线;
}

.pTitle.centerAligned {
	width: 100%;
	left: 0;
	top: 70px;
	text-align: center;
}

.pContent {
	padding-top: 10px;
	position: relative;
	left: 70px;
	top: 60px;
	width: 460px;
	scrollbar-color: rgba(0, 0, 0, 0.1) #fff;
}

.pContent.centerAligned {
	width: 80%;
	left: 10%;
	top: 65px;
	text-align: center;
}

.pContent::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
		inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	background-clip: padding-box;
	background-color: gray;
	min-height: 40px;
	padding-top: 100px;
	border-radius: 4px;
}

.pContent::-webkit-scrollbar-thumb:hover,
.pContent::-webkit-scrollbar-thumb:active {
	background-color: #b3b3b3;
}

.pContent::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

#contentBg,
#contentFeedback {
	height: 350px;
	overflow-y: scroll;
}

#desktopPlugins {
	z-index: 2;
}

#WallpaperBackGround {
	z-index: -9999;
	top: 0px;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
	background-size: cover;
	user-select: none;
	width: 1000px;
	height: 618px;
}

.popContentLabel {
	padding: 10px;
	border: 1px transparent solid;
	border-radius: 18px;
	background-color: #f3f6f3;
}

.popContentLabel:hover {
	box-shadow: 0px 30px 60px rgba(0,0,0,0.12);
}

.popContentLabel h3 {
	margin: 10px;
}

.popContentLabel input {
	outline: none;
	padding: 5px;
	border-radius: 5px;
	border: transparent solid;
}

.popContentLabel input:focus {
	background-color: #000000;
	color: #fff;
}

.popContentLabel button {
	padding: 5px;
	background-color: #ffffff;
	border: transparent solid;
	margin-left: 5px;
}

.popContentLabel button:hover {
	border-radius: 5px;
	background-color: black;
	color: #fff;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		display: none;
	}
	50% {
		opacity: 0.7;
		display: none;
	}
	100% {
		opacity: 1;
		display: block;
	}
}

@keyframes FadeOut {
	0% {
		opacity: 1;
		display: block;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
