@font-face {
  font-family: 'JetBrains';
  src: url('../images/JetBrainsMono-Regular.ttf');
}

html {
  overflow: hidden;
  height: 618px;
  width: 1000px;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

* {
  transition: all 0.3s;
}

::-webkit-scrollbar {
	width: 8px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(95, 97, 101, 0.3) !important;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:active {
	background-color: #6fc1ff !important;
	border-radius: 4px;
}

#outScreen {
  z-index: 1;
}

#dock_time {
  z-index: 30;
  color: #2a2a2a;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 466.977px;
  bottom: 25px;
  width: 58px;
  padding: 5px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.911);
  height: 58px;
  border-radius: 20px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}

hr {
  background-color: #b3b3b3;
  margin: 0.5rem 17rem;
  border: transparent solid 1px;
  border-radius: 10px;
  height: 5px;
}

#laupad {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 20px;
  color: #0e0e0e;
  overflow: hidden;
  top: 45%;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(40px);
  object-fit: cover;
  background-size: cover;
}

#laupad .icon_bottom {
  margin: 2rem;
  top: 35px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#laupad .icon_bottom h2 {
  position: absolute;
  left: 35px;
  top: 20px;
}

#laupad .icon_bottom .icons {
  float: right;
}

#laupad .icon_bottom img,
#laupad .icon_bottom svg {
  margin-right: 5px;
}

#laupad .icon_top img,
#laupad .icon_top svg {
  margin-right: 5px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 5px;
}

#laupad .icon_top {
  margin: 2rem;
}

#laupad .alignRight {
  position: relative;
  top: 170px;
  left: 550px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#laupad .alignRight img {
  margin-left: 15px;
}

#he-plugin-standard {
  margin: 15px !important;
  right: -750px;
}

#TodoList .container {
  z-index: 31;
  position: fixed;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  background: #2a2a2a;
  padding-top: 30px;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.wrapper {
  overflow-y: auto;
  margin: auto;
  padding: 20px;
  width: 70%;
  background: #e6e6e6;
  border-radius: 35px;
}

#TodoList .container h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.plates {
  margin: 0;
  padding: 0;
  position: relative;
}

.plates li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  font-weight: 100;
  display: flex;
}

.plates li:hover {
  background-color: #2a2a2a;
  color: #e6e6e6;
}

.plates label {
  flex: 1;
  cursor: pointer;
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.plates input:checked + label {
  text-decoration: line-through;
  padding-left: 30px;
}

.plates li:hover input + label:before {
  border-color: #e6e6e6;
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-items input:nth-child(1) {
  width: 61.3%;
}

.add-items input:nth-child(2) {
  width: 30%;
  color: rgb(85, 108, 128);
  font-weight: 700;
}

#TodoList .container button {
  width: 100px;
  margin-top: 10px;
  height: 40px;
  color: rgb(85, 108, 128);
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#TodoList .container button:hover,
#sumit_todo:hover {
  background-color: #2a2a2a;
  color: #e6e6e6;
}

#todo_btnClose,
#lockBtnClose,
#TerminalCloseBtn {
  z-index: 32;
  position: fixed;
  right: 0;
  top: 35px;
  padding: 12px 16px 12px 16px;
  background-color: #e6e6e6;
}

#LockScreen,
#onStart {
  color: #e2e2e2;
  overflow: hidden;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  backdrop-filter: blur(30px);
  text-align: center;
  object-fit: cover;
  background-size: cover;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.589);
}

#LockTime {
  font-size: 3.5rem;
  position: relative;
  top: 100px;
}

#onStart {
  padding-top: 150px;
}

#onStart .ball-clip-rotate-pulse {
  margin: auto;
  width: 30px;
  height: 30px;
  top: 30px;
  margin-bottom: 30px;
}

.right-menu {
  width: 170px;
  position: absolute;
  z-index: 9998;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  display: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px;
  overflow: hidden;
  background-color: white;
}

.right-menu div.list div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-menu div.list div {
  list-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  font-size: 11px;
  transition: all 0.1s linear;
}

.cover1 {
  z-index: 99;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.25s;
  perspective: 1000px;
}

.popUp {
  position: absolute;
  z-index: 100;
  width: 600px;
  height: 450px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -300px;
  background-color: #fff;
  font-size: small;
  border-radius: 20px;
  overflow: hidden;
  transform: scale(1.1);
  transition: all 0.25s;
  display: none;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
}

.btnClose {
  z-index: 99;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.btnClose::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background-color: #b4b4b4;
  transition: all 0.25s;
}

.btnClose:hover::before {
  background-color: #70c000;
}

.btnClose:active::before {
  background-color: rgba(112, 192, 0, 0.5);
}

.pTitle {
  position: relative;
  left: 70px;
  top: 40px;
  font-size: 25px;
  font-family: microsoft yahei bold, microsoft yahei, Helvetica, sans-serif,
    等线;
}

.pTitle.centerAligned {
  width: 100%;
  left: 0;
  top: 70px;
  text-align: center;
}

.pContent {
  padding-top: 10px;
  position: relative;
  left: 70px;
  top: 60px;
  width: 460px;
  scrollbar-color: rgba(0, 0, 0, 0.1) #fff;
}

.pContent.centerAligned {
  width: 80%;
  left: 10%;
  top: 65px;
  text-align: center;
}

.pContent::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
  background-color: gray;
  min-height: 40px;
  padding-top: 100px;
  border-radius: 4px;
}

.pContent::-webkit-scrollbar-thumb:hover,
.pContent::-webkit-scrollbar-thumb:active {
  background-color: #b3b3b3;
}

.pContent::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

#contentBg,
#contentFeedback {
  height: 350px;
  overflow-y: scroll;
}

#desktopPlugins {
  z-index: 2;
}

#WallpaperBackGround {
  z-index: -9999;
  top: 0px;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  user-select: none;
  width: 1000px;
  height: 618px;
}

.popContentLabel {
  padding: 25px;
  border: 1px transparent solid;
  border-radius: 18px;
  background-color: #f3f6f3;
}

.popContentLabel:hover {
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12);
}

.popContentLabel h3 {
  margin: 10px;
}

.popContentLabel input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: transparent solid;
}

.popContentLabel input:focus {
  color: rgb(0, 0, 0);
}

.popContentLabel button {
  padding: 5px;
  background-color: #ffffff;
  border: transparent solid;
  margin-left: 5px;
}

.popContentLabel button:hover {
  border-radius: 5px;
  background-color: black;
  color: #fff;
}

#terminalCon {
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 31;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}

.terminal ::selection {
  background: #0080ff;
  text-shadow: none !important;
}

.terminal {
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.terminal .container {
  padding: 1em 1.5em 1em 1em;
  position: absolute;
  text-shadow: 0 0 5px #c8c8c8;
}

.terminal .container output {
  clear: both;
  width: 100%;
}

.terminal .container output pre {
  margin: 0;
}

.terminal .cmdline {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  width: 100%;
}

.terminal output table.input-line td:last-child {
  padding-left: 1px;
}

.terminal .prompt {
  line-height: 20px;
  margin-right: 7px;
  white-space: nowrap;
}

.terminal table.input-line {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.terminal table.input-line td {
  margin: 0;
  padding: 0;
}

.terminal-modern {
  color: white;
  font-family: 'JetBrains', monospace;
}

.terminal-modern table {
  color: white;
}

.terminal-modern a {
  color: #fff;
}

.terminal-modern a.external {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9QTFRFzs7OqKio0NDQ////////DlgqrAAAAAV0Uk5T/////wD7tg5TAAAAN0lEQVR42izLyQ0AMAgDQYPpv+b4yD7QEBGcYoI0yN454Sqy9KnfTUufQpB7c/9AM1RlE58AAwBEcAE4zo3mOAAAAABJRU5ErkJggg==')
    no-repeat scroll right center transparent;
  padding-right: 13px;
  outline: none;
}

.terminal-modern .background {
  position: fixed;
  background: #000;
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 35px;
  width: 100%;
}

.terminal-modern .container {
  text-shadow: none;
}

.terminal-modern .container output pre {
  color: white;
  font-family: 'JetBrains', monospace;
}

.terminal-modern .prompt {
  color: #fc0;
}

alert {
  position: fixed;
  top: -50px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  background-color: rgba(30, 30, 30);
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  opacity: 1;
  z-index: 999;
  transition-duration: 0.35s;
}

#consoleCentre {
  box-sizing: border-box;
  position: absolute;
  top: 35px;
  right: 0;
  width: 1000px;
  height: 100%;
  backdrop-filter: blur(30px);
  padding: 25px;
  background-color: #2a2a2ae3;
  z-index: 100;
}

#consoleCentre .centreCon,
#consoleCentre .notificationCon {
  position: absolute;
  top: 175px;
  width: 35%;
  background-color: #181717e3;
  border-radius: 25px;
  padding: 15px 30px;
  box-sizing: border-box;
  z-index: 102;
  max-height: 348.305px;
  overflow-x: scroll;
}

#consoleCentre .notificationCon {
  left: 30px;
  padding-bottom: 0;
}

#consoleCentre .centreCon {
  right: 30px;
  padding: 15px;
}

#consoleCentre .notificationItem,
#consoleCentre .centreItem {
  background-color: #4c4c4c;
  padding: 10px;
  width: 48px;
  height: 48px;
  border-radius: 15px;
}

#consoleCentre .centreItem {
  display: inline-block;
  margin: 15px;
}

#consoleCentre .notificationItem {
  width: calc(100% - 30px);
  color: #f3f6f3;
  height: auto;
  margin-bottom: 8px;
  padding: 15px;
}

#consoleCentre .notificationItem:only-child {
  margin-bottom: 0;
}

#centreBG {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  right: 0;
  width: 1000px;
  height: 100%;
  z-index: 101;
}

#controlCentreTime {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

hr#showConsoleCentreLine {
  width: 5%;
  position: absolute;
  top: 45px;
  right: 5px;
  margin: 0;
  background: #fff;
  z-index: 1000;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px transparent solid;
  margin-left: 5px;
  border-radius: 13px;
  height: 34.98px;
}

.dropdown {
  margin-left: 70px;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 999;
  -webkit-app-region: no-drag;
  top: 0;
  height: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.267);
  min-width: 200px;
  z-index: 999;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  transition: display 0.2s;
}

.dropdown-content a {
  margin: 5px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.876);
  color: rgb(0, 0, 0);
}

.dropdown>div {
  height: 100vh;
}

.dropdown div:hover .dropbtn ~ .dropdown-content {
  display: block;
}

.dropdown .dropbtn:hover {
  background-color: grey;
}

#dropSelectToMoveWindow {
  width: 100%;
  height: 25px;
  padding: 5px;
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  padding-left: 13px;
}

#markdown {
  display: none;
  opacity: 0;
  top: 35px;
  height: calc(100vh - 35px);
  left: 0%;
  width: 100vw;
  position: fixed;
  background: #fff;
  z-index: 31;
}

#vditor {
  width: 100%;
  height: 100%;
}

.vditor--fullscreen {
  top: 35px !important;
}

.vditor-reset {
  display: block;
  width: 100vw;
}

#vditorCloseBtn {
  position: fixed;
  right: 5px;
  top: 45px;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.vditor-wysiwyg mark {
  background-color: #ffb86c;
  border-radius: 3px;
  padding: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.vditor-wysiwyg table thead tr {
  background-color: #2b2d2e;
  color: #fff;
}

.vditor-wysiwyg table tr th {
  font-weight: bold;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.vditor-wysiwyg table tbody tr {
  border-top: 2px solid #555;
  margin: 0;
  padding: 0;
  background-color: #303233;
  color: #fff;
}

.vditor-wysiwyg table tr td {
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  background-color: #303233;
}

.vditor-wysiwyg table tr th:first-child,
.vditor-wysiwyg table tr td:first-child {
  border-left-width: 0px;
}

.vditor-wysiwyg table tr th:last-child,
.vditor-wysiwyg table tr td:last-child {
  border-right-width: 0px;
}

.vditor-wysiwyg blockquote {
  border-left: 4.5px solid #45a9f9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0 0 1.875rem 1.875rem;
  padding: 4px 15px;
  color: #212224;
  font-family: Georgia, 'poppin', 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: italic;
}

.vditor-wysiwyg blockquote blockquote {
  padding-right: 2.8em;
}

.vditor-wysiwyg hr {
  height: 3px;
  border: 0px;
}

.vditor-wysiwyg a {
  color: #107ccf !important;
  text-decoration: none;
}

#pluginsList button,
#popPluginsStore button {
  position: absolute;
  padding: 5px;
  right: 5px;
  border-width: 0px;
	border-radius: 3px;
	background: #1E90FF;
	cursor: pointer;
	outline: none;
	color: white;
}

#pluginsList button:hover,
#popPluginsStore button:hover {
  background: linear-gradient(top, #818181, #575757);
}

#pluginsList button:active,
#popPluginsStore button:active {
  box-shadow: 0 1px 3px #111 inset, 0 3px 0 #fff;
  background: linear-gradient(top, #424242, #575757);
}

#pluginsList li {
  margin-bottom: 15px;
}

#desktopTime {
  position: absolute;
  margin: 0px 75px;
}

#desktopHours,
#desktopMinutes {
  font-size: 3rem;
  color: #fff;
}

#desktopDate {
  font-size: 1.5rem;
  color: #fff;
}

#cloudUser {
  position: absolute;
  top: 35px;
  right: 0;
  width: 40vw;
  height: calc(100vw - 35px);
  backdrop-filter: blur(30px);
  padding: 25px;
  background-color: #2a2a2ae3;
  z-index: 150;
  color: #fff;
  text-align: center;
  border-radius: 30px 0px 0px 0px;
}

.bigBtn {
  position: relative;
  padding: 20px 40px;
  font-size: 1.4rem;
  background-size: 46px 26px;
  border: 1px solid transparent;
  transition: all ease 0.3s;
  border-radius: 15px;
  background-color: #e6e6e6;
}

.bigBtn::after {
  position: absolute;
  top: 50%;
  right: 0.6em;
  transform: translateY(-50%);
  content: "»";
  font-size: 1.2em;
  transition: all ease 0.3s;
  opacity: 0;
}

.bigBtn:hover::after {
  right: 1.2em;
  opacity: 1;
}

.bigBtn:hover {
  padding: 20px 60px 20px 20px;
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 5px;
}

.busy {
  background-color: rgba(185, 185, 185, 0.233);
  color: #000;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0.7;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
